@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Concert One', sans-serif;
    font-family: 'Oswald', sans-serif;
    background: url('https://www.wallpaperup.com/uploads/wallpapers/2017/05/06/1089105/8606f3969787f37aa5e250c6b906bf8a-700.jpg') center/cover no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-1 {
    width: 100%;
    text-align: center;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.city-name,
.city-temp {
    width: 100%;
    text-align: center;
}

.city-date {
    text-align: center;
}

.container-2 {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2%;
}

.card {
    height: 40%;
    width: 45%;
    background-color: white;
    opacity: 0.6;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
}

.container-3 {
    height: 20vh;
    width: 80vw;
    text-align: center;
}

.city-search {
    font-size: 1.2rem;
    padding: 2%;
    text-align: center;
    background-color: white;
    opacity: 0.6;
    width: 70%;
}

.search {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #154016;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 1rem;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .container-2 {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 10px;
    }
}
